<header class="header">
  <div class="header__inner">
    <div class="header__logo">
      {{ partial "logo.html" . }}
    </div>
    {{ if len $.Site.Menus }}
      {{ partial "mobile-menu.html" . }}
    {{ end }}
    {{ if and $.Site.Params.showLanguageSelector (len $.Site.Home.AllTranslations) }}
      {{ partial "language-menu.html" . }}
    {{ end }}
  </div>
  {{ if len $.Site.Menus }}
    {{ partial "menu.html" . }}
  {{ end }}
</header>

<!-- html2pdf.js for professional PDF downloads -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js"></script>

<!-- Reading Progress Bar -->
<div class="progress-container"><div class="progress-bar"></div></div>
